@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-image: url('/src/images/web-mock.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden
  }

  .main{

  }
.logo-container{
  width: 200px;
  display: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
}

